<div>
  <!-- (click) creates a new empty invoice line -->
  <button (click)="add()">
    Add
  </button>
</div>

<table class="slist">
    <tr>
      <th>Line ID</th>
      <th>Invoice ID</th>
      <th>Line #</th>
      <th>Vendor Code</th>
      <th>Qty</th>
      <th>Unit Price</th>
    </tr>
    <tr *ngFor="let line of invoiceLines">
        <td><a routerLink="/item/{{line.id}}">{{line.id}}</a></td>
        <td>{{line.invoiceId}}</td>
        <td>{{line.line}}</td>
        <td>{{line.vendorId}}</td>
        <td>{{line.quantity}}</td>
        <td>{{line.unitCost}}</td>
        <td>{{line.totalCost}}</td>
    </tr>
  </table>
