<div>
  <!-- (click) creates a new empty invoice line -->
  <button (click)="add()" [disabled]="invoice.status === 'Balanced'">
    Add Line Item
  </button>

<table class="slist">
    <tr>
      <th>Line #</th>
      <th>Vendor Code</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Unit Price</th>
      <th>Total Price</th>
    </tr>
    <tr *ngFor="let line of invoiceLines">
        <td><a routerLink="/items/{{line.id}}">{{line.line}}</a></td>
        <td>{{line?.vendor?.code}}</td>
        <td>{{line.description}}</td>
        <td>{{line.quantity}}</td>
        <td>{{line.unitCostDollars | currency : "USD"}}</td>
        <td>{{line.totalCostDollars | currency : "USD"}}</td>
    </tr>
  </table>
