<div *ngIf="invoice">
    <h2>Sales Receipt {{invoice.id}} Details</h2>
    <div>
      <label>customer:
        <input [(ngModel)]="invoice.customer" placeholder="customer"/>
      </label>
    </div>
    <div>
      <label>address:
        <input [(ngModel)]="invoice.address" placeholder="address"/>
      </label>
    </div>
    <div>
      <label>contact:
        <input [(ngModel)]="invoice.contact" placeholder="phone/email"/>
      </label>
    </div>
<!--    <div><span>created: </span>{{invoice.timeCreated}}</div> -->
    <div><span>Total Paid: </span>{{itemSum | currency : "USD"}}</div>

    <app-items [invoice]="invoice" (change)="sumChange($event)"></app-items>

    <button (click)="save()">Save</button>&nbsp;
    <button (click)="goBack()">go back</button>
  </div>
