<!-- Home screen - entry point and links to other screen -->
<h2>Home Screen</h2>
<app-date-time></app-date-time>
<table>
  <tr>
    <td><nav><a routerLink="/invoices">Bills of Sale</a></nav></td>
    <td>- View list of Bills of Sale</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/vendors">Vendors</a></nav></td>
    <td>- View list of (data entry) Vendors</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/reports">reports</a></nav></td>
    <td>- View Reports</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/home">Manage Volunteers</a></nav></td>
    <td>- Manage list of Volunteers doing data entry</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/home">Checkout</a></nav></td>
    <td>- Check out current data entry Volunteer</td>
  </tr>
</table>
