<!-- Home screen - entry point and links to other screen -->
<h2>Home Screen</h2>
<app-date-time></app-date-time>
<table>
  <tr>
    <td><nav><a routerLink="/users">Check In/Out</a></nav></td>
    <td>- Go here first to check in and last to check out when you are done</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/invoices">Sales Receipts</a></nav></td>
    <td>- View/add Sales Receipts (Data entry)</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/vendors">Vendors</a></nav></td>
    <td>- View list of Vendors</td>
  </tr>
  <tr>
    <td><nav><a routerLink="/reports">reports</a></nav></td>
    <td>- View Reports</td>
  </tr>
</table>
